[submodule "deps/libgran"]
	path = deps/libgran
	url = git@github.com:egor-demidov/libgran.git
[submodule "deps/libtimestep"]
	path = deps/libtimestep
	url = git@github.com:egor-demidov/libtimestep.git
[submodule "deps/eigne"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "deps/tinyxml2"]
	path = deps/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
